.character-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: 1px solid green;
    padding: 5px;
    width: 250px;
    height: 300px;
    margin: 10px;
    text-align: center;
    background-color: white;
}

.character-item img {
    width: 100%;
}