@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');


body {
    background-color: rgb(244, 218, 162);
}

h1 {
    font-family: 'Caveat Brush', cursive;
    font-size: 70px;
}